@using RackPeek.Domain.Resources.Hardware.UpsUnits
@inject IGetAllResourcesByKindUseCase<Ups> GetAllUseCase
@inject NavigationManager Nav

<PageTitle>Ups</PageTitle>

<div class="min-h-screen bg-zinc-950 text-zinc-200 font-mono p-6 space-y-6">

    <AddResourceComponent TResource="Ups"
                          Placeholder="Ups name"
                          OnCreated="NavigateToNewResource" />
    @if (_upss is null)
    {
        <div class="text-zinc-500">loading Ups…</div>
    }
    else if (_upss.Count == 0)
    {
        <div class="text-zinc-500">no Ups found</div>
    }
    else
    {
        <div class="space-y-4">
            @foreach (var ups in _upss.OrderBy(s => s.Name))
            {
                <UpsCardComponent Ups="ups" OnDeleted="Callback"/>
            }
        </div>
    }
</div>

@code {
    private IReadOnlyList<Ups>? _upss;

    protected override async Task OnInitializedAsync()
    {
        _upss = await GetAllUseCase.ExecuteAsync();
    }

    private Task NavigateToNewResource(string serverName)
    {
        Nav.NavigateTo($"resources/hardware/{serverName}");
        return Task.CompletedTask;
    }

    private async Task Callback(string obj)
    {
        _upss = await GetAllUseCase.ExecuteAsync();
    }

}
